//
// Base -> Typography
// --------------------------------------------------

.br-style {
  display: inline;
  @media screen and (min-width: $screen-xl-min) {
    display: block;
  }
}

// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    font-family: 'montserratregular';
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   {
  line-height: 110%;
  font-size: 24px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h1 * 0.5;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h1 * 0.7;
  }
  @media screen and (min-width: 1600px) {
    font-size: $font-size-h1;
  }
}
h2, .beta    {
  font-size: 18px;
  line-height: 1.23333;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h2 * 0.8;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h2;
  }
}
h3, .gamma   {
  line-height: 130%;

  font-size: 24px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3 * 0.7;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h3 * 0.9;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: $font-size-h3;
  }
}
h4, .delta   {
  line-height: 150%;
  font-size: 18px;
  @media screen and (min-width: $screen-md-min) {
    font-size: 21px;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h4;
  }
}
h5, .epsilon {
  line-height: 130%;
  font-size: $font-size-h5;
}
h6, .zeta    {
  font-weight: 500;
  font-family: 'montserratmedium';
  line-height: 150%;
  font-size: 15px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h6;
  }
}


// Body text
p { margin: 0 0 $line-height-computed-half; }

b {
  font-weight: 600;
  font-family: "montserratsemibold";
}

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media screen and (min-width: $screen-xl-min) {
    .text__xl--left { text-align: left;}
    .text__xl--right { text-align: right;}
    .text__xl--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__xs {
  font-size: 11px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-tiny;
  }
}
.text__sm {
  font-size: 11px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-small;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: 13px;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: $font-size-small;
  }
}
.text__md {
  font-size: 15px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-medium;
  }
}
.text__lg {
  font-size: 13px;
  @media screen and (min-width: $screen-md-min) {
    font-size: 15px;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-large;
  }
}


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', $color-type-4a);
  @include text-emphasis-variant('.text--info', $color-type-1a);
  @include text-emphasis-variant('.text--warning', $color-type-3a);
  @include text-emphasis-variant('.text--danger', $color-type-2a);
}

@include text-emphasis-variant('.text--gray', #838383);


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--counter {
    //max-width: 610px;
    @include list--unstyled;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      &:after {
        content:'';
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px dotted #666;
      }
      .key {
        display: inline-block;
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
      }
      .value {
        display: block;
        float: right;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-left: 5px;
      }
    }
  }

  &--bullet {
    @include list--unstyled;
    color: $gray-darken-2;
    > li {
      margin-bottom: 10px;
      padding-left: 35px;
      position: relative;
      font-size: 13px;
      left: 0;
      @include transitionEaseInOut(left);
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom: 25px;
        font-size: 16px;
      }
      @media screen and (min-width: $screen-xl-min) {
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        display: block;
        @include transitionEaseInOut(color);
      }
      .long-arrow-line {
        background-color: #c4c4c4;
        width: 13px;
        right: 0px;
        top: -1px;
        @media screen and (min-width: $screen-md-min) {
          top: 0;
        }
      }
      .long-arrow-inner {
        position: absolute;
        left: 10px;
        //top: 0;
        color: #c4c4c4;
        @include transitionEaseInOut(all);
        top: 0;
        bottom: 0;
        margin: auto;
        height: 23px;
        @media screen and (min-width: $screen-md-min) {
          left: 0;
        }
        //@media screen and (min-width: $screen-lg-min) {
        //  top: 7px;
        //}
      }
      .long-arrow-right {
        width: 10px;
        height: 10px;
        @include transitionEaseInOut(all);
      }
      &:hover {
        //padding-left: 45px;
        left: 10px;
        a {
          color: $base-color-main;
        }
        .long-arrow-right {
          color: $base-color-main;
        }
        .long-arrow-inner {
          left: 20px;
          @media screen and (min-width: $screen-md-min) {
            left: 0;
          }
        }
        .long-arrow-line {
          background-color: $base-color-main;
          width: 23px;
        }
      }
    }
  }

  &--icons {
    @include list--unstyled;
    color: $gray-darken-2;
    > li {
      margin-bottom: 15px;
      padding-left: 30px;
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        padding-left: 50px;
      }

      b {
        font-size: 18px;
        margin-bottom: 0;
        display: inline-block;
      }

      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        width: 18px;
        height: 13px;
        background: url("../images/icons/bullet.svg");
        position: absolute;
        left: 0;
        top: 3px;
        @media screen and (min-width: $screen-md-min) {
          top: 8px;
        }
      }
    }
    &.row {
      > li {
        padding-left: 45px;
        @media screen and (min-width: $screen-md-min) {
          padding-left: 50px;
        }
        &::before {
          left: 15px;
        }
      }
    }
  }

  &--corner {
    @include list--unstyled;
    color: $gray-darken-2;
    > li {
      margin-bottom: $form-group-margin-bottom / 3;
      padding-left: 56px;
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: $form-group-margin-bottom;
      }

      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        width: 26px;
        height: 35px;
        background: url("../images/icons/corner.svg");
        position: absolute;
        left: 0;
        top: -9px;
        @media screen and (min-width: $screen-md-min) {
          width: 42px;
          height: 57px;
        }
      }
    }
  }

  &--list {
    @include list--unstyled;
    color: $gray-darken-2;
    border: 1px solid $gray;
    padding: 0 25px;
    font-size: 13px;
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 35px;
      font-size: 16px;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0 90px;
    }
    > li {
      padding: 20px 0;
      position: relative;
      border-bottom: 1px solid $gray;
      @media screen and (min-width: $screen-md-min) {
        padding: 30px 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--number {
    counter-reset: items;
    @media screen and (min-width: $screen-lg-min) {
      padding-left: 70px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-left: 140px;
    }
    > li {
      margin-bottom: 10px;
      padding-left: 30px;
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 20px;
        padding-left: 60px;
      }
      &::before {
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        //margin-right: 40px;
        font-weight: bold;
        color: $base-color-main;
        position: absolute;
        left: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--summ {
    @include list--unstyled;
    > li {
      margin-bottom: 10px;
    }
    span {
      font-weight: 600;
    }
  }

  &--char {
    counter-reset: items;
    > li {
      padding-left: 55px;
      position: relative;
      margin-bottom: 20px;
      &::before {
        counter-increment: items 1;
        content: counter(items, lower-alpha) ".";
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
        color: $base-color-main;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



// Blockquotes
blockquote {
  padding: 0 $line-height-computed 0 ($line-height-computed * 1.8);
  margin: $line-height-computed * 2 0;
  font-size: $blockquote-font-size;
  line-height: 1.6;
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 3px;
    @include background-gradient(#a234d5, #0082d5);
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
