.equipment {
  padding-top: 0;
  &-container {
    @extend .mainContainer;
  }
  &-content {
    @media screen and (min-width: $screen-xl-min) {
      margin-top: 89px;
    }
    a {
      color: $black;
      &:hover {
        color: $base-color-main;
      }
    }
  }
  .nav-title{
    .equipmentList-item__label {
      right: 15px;
      bottom: 0;
    }
  }


  .equipmentList-item__num {
    display: block;
  }

  &-info {
    @media screen and (min-width: $screen-lg-min) {
      padding-top: 60px;
    }

    h3 {
      margin-top: 0;
    }

    p + p {
      margin-top: 40px;
    }
  }

  &-list {
    padding: 0 15px;
    @media screen and (min-width: $screen-xl-min) {
      padding: 0;
    }
    &-item {
      border-top: 2px solid $black;
      padding-top: 20px;
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
      @media screen and (min-width: $screen-md-min) {
        padding-right: 15px;
        &:nth-child(2) {
          padding-left: 15px;
        }
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom:0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-el {
    border-top: 2px solid $black;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    cursor: pointer;
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 90px;
      height: calc(100% - 90px);
    }
    &:hover {
      color: $black;
    }

    &__top {
      padding: 20px 0;
      @media screen and (min-width: $screen-lg-min) {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h4 {
        margin: 0;
      }

      .text__sm {
        @media screen and (min-width: $screen-lg-min) {
          width: 300px;
          text-align: right;
        }
      }
    }

    &__bottom {
      position: relative;
      display: block;
      overflow: hidden;

      > img {
        width: 100%;
        @include transitionEaseInOut(transform);
      }

      &:hover {
        > img {
          transform: scale(1.1);
        }
      }
    }

    &__logo {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 9;
      @media screen and (min-width: $screen-lg-min) {
        top: 30px;
        left: 30px;
      }
    }
  }

  &-template {
    h3 {
      @media screen and (max-width: $screen-sm-max) {
        font-size: 18px;
      }
    }


    ul, h3 {
      margin-top: 0;
      margin-bottom: $form-group-margin-bottom / 2;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: $form-group-margin-bottom;
      }
    }

    h4, h5 {
      margin-top: 0;
      margin-bottom: 30px;
    }

    h6 {
      margin-top: 0;
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;

      i {
        font-style: italic;
        font-weight: 600;
        font-family: 'montserratsemibold';
      }
    }

    b {
      font-size: $font-size-small;
      margin-bottom: 20px;
      display: block;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 40px;
      }
    }

    .image {
      margin: 40px 0;
      @media screen and (min-width: $screen-lg-min) {
        margin: 90px 0;
      }
    }

    .acc {
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 50px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 90px;
      }
    }

    &__item {
      position: relative;
      margin-bottom: 50px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 70px;
      }
      @media screen and (min-width: 1600px) {
        margin-bottom: 170px;
      }

      a {
        color: #3700FF;

        &:hover {
          color: black;
        }
      }

      > [data-aos='fade-up'] > img {
        margin-bottom: $form-group-margin-bottom / 2;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: $form-group-margin-bottom;
        }
      }

      [data-adaptive='true'] {
        .swiper-slide {
          max-width: 90%;
          @media screen and (min-width: $screen-md-min) {
            max-width: inherit;
          }
        }
      }

      .swiper-button {
        position: absolute;
        top: 10px;
        right: 0;
        display: none;
        margin-top: auto;
        z-index: 9;
        @media screen and (min-width: $screen-md-min) {
          display: flex;
        }

        &--adapt {
          display: flex;
        }
      }
    }

    &__block {
      @media screen and (min-width: $screen-xl-min) {
        padding-left: 95px;
      }
      @media screen and (min-width: $screen-xxl-min) {
        padding-right: 130px;
      }

      &--left {
        padding-right: 0;
      }
    }

    &__card {
      border-top: 2px solid $black;
      padding-top: 30px;
      display: block;

      h4 {
        margin-top: 0;
        margin-bottom: $form-group-margin-bottom;
        @media screen and (max-width: $screen-sm-max) {
          font-size: 15px;
        }
      }
      ul {
        font-size: 13px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 14px;
        }
      }
      p {
        font-size: 13px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 14px;
        }
        @media screen and (min-width: 1600px) {
          font-size: 15px;
        }
        @media screen and (min-width: $screen-xxl-min) {
          font-size: 16px;
        }
      }
      h5 {
        font-size: 13px;
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 18px;
          margin-top: 20px;
        }
        @media screen and (min-width: $screen-xxl-min) {
          font-size: 20px;
        }
      }

      img {
        width: 99%;
      }

      .text__sm {
        color: $gray-darken;
      }

      & + & {
        margin-top: 30px;
      }
    }

    .link-icon {
      font-size: 18px;

      span {
        margin-left: 10px;
        white-space: nowrap;
        @include transitionEaseInOut(margin-left);
        @media screen and (min-width: $screen-lg-min) {
          margin-left: 18px;
        }
      }
      //.long-arrow-left {
      //  width: 15px;
      //  height: 15px;
      //  color: $black;
      //  @include transitionEaseInOut(color);
      //  &::before {
      //    width: 54px;
      //    color: $black;
      //    @include transitionEaseInOut(all);
      //  }
      //}
      &:hover {
        span {
          margin-left: -2px;
        }
        //.long-arrow-left {
        //  color: $base-color-main;
        //  &::before {
        //    width: 34px;
        //    color: $base-color-main;
        //  }
        //}
      }
    }

    &__img {
      @media screen and (min-width: $screen-md-min) {
        padding-bottom: 50px;
      }
    }

    .swiper-button--adapt {
      top: 0;
      @media screen and (min-width: $screen-md-min) {
        width: calc(50% - 15px);
        top: auto;
        bottom: 0;
        background-color: white;
      }
    }

    .main-slider {
      ul {
        margin-bottom: 20px;
      }
    }

    &__innerBlock {
      margin-bottom: 50px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 70px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 150px;
      }

      .list--summ {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 40px;
        }
      }

      .content-img {
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 40px;
        }

        p {
          font-size: 11px;
          @media screen and (min-width: $screen-md-min) {
            padding-left: 95px;
            font-size: 18px;
          }
        }
      }
    }

    .insideBlock {
      margin-bottom: 0;
    }
  }
}

.equipment-container {
  &:not(.equipment-container--big) {
    @media screen and (min-width: $screen-xl-min) {
      padding-top: 80px !important;
    }
  }
}

.equipmentMain {
  padding-top: 80px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 0;
  }
}

.equipmentList {
  &-item {
    border-top: 2px solid $black;
    padding-top: 10px;
    display: block;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 70px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom: 170px;
      }
    }

    &__top {
      display: flex;
    }

    &__num {
      color: $black;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      font-weight: 600;
      font-family: 'montserratsemibold';
      font-size: 24px;
      line-height: 0.9;
      width: 60px;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
        width: 20%;
        font-size: 35px;
        line-height: 1.22222;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 33%;
      }
      @media screen and (min-width: 1600px) {
        font-size: 45px;
      }

      img {
        max-width: 90%;
        @media screen and (min-width: $screen-md-min) {
          max-width: inherit;
        }
      }

    }

    &__title {
      max-width: 860px;
      width: 100%;

      > * {
        margin-top: 0;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 40px;
        }

        .long-arrow {
          &-inner {
            left: -20px;
            top: -1px;
            display: none;
            @media screen and (min-width: $screen-md-min) {
              display: inline-flex;
            }
          }
          &-line {
            right: -2px;
            background-color: #c4c4c4;
          }
        }
      }

      h3 {
        @media screen and (max-width: $screen-sm-max) {
          font-size: 18px;
        }
      }
      a:hover {
        color: $base-color-main;
      }
      h2 {
        a:hover {
          padding-left: 20px;
          .long-arrow {
            &-right {
              color: $base-color-main;
            }
            &-line {
              width: 49px;
              background-color: $base-color-main;
            }
          }
        }
      }
      .equipMenu {
        @media screen and (min-width: $screen-lg-min) {
          margin-left: 40px;
        }
      }
    }

    &__bottom {
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 30px;
      }
    }

    &__mark {
      position: absolute;
      width: 40px;
      right: 10px;
      top: 10px;
      z-index: 9;
      @media screen and (min-width: $screen-md-min) {
        width: 80px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: auto;
        top: 30px;
        right: 55px;
      }
    }

    &__logo {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 9;
      @media screen and (min-width: $screen-lg-min) {
        top: 30px;
        left: 55px;
      }

      img {
        display: block;
        margin-bottom: 5px;
        height: 19px;
        @media screen and (min-width: $screen-md-min) {
          height: 30px;
        }
        @media screen and (min-width: $screen-lg-min) {
          margin-bottom: 10px;
          height: auto;
        }
      }
    }

    &__label {
      position: absolute;
      z-index: 5;
      bottom: 30px;
      right: 55px;

      // @media screen and (min-width: $screen-lg-min) {
      //   bottom: 15px;
      //   right: 30px;
      // }

      img {
        @media screen and (max-width: $screen-md-min) {
          height: 30px;
        }
      }
    }

    &:first-child {
      .equipMenu li {
        width: calc(100% / 2);
        @media screen and (min-width: $screen-lg-min) {
          width: calc(100% / 3);
        }
      }
    }

    ul {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 0;
      }
    }
  }
}

.equipMenu {
  @include list--unstyled();
  font-weight: 500;
  font-family: 'montserratmedium';
  font-size: 13px;
  line-height: 150%;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-md-min) {
    font-size: 16px;
  }

  li {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      width: calc(100% / 2);
    }
    @media screen and (min-width: $screen-lg-min) {
      width: calc(100% / 3);
      margin-bottom: 20px;
    }

    .long-arrow {
      &-right {
        width: 10px;
        height: 10px;
      }
      &-inner {
        left: -13px;
        top: -1px;
        display: inline-flex;
      }
      &-line {
        right: 0;
        width: 13px;
        background-color: #c4c4c4;
      }
    }
    a {
      &:hover {
        //padding-left: 10px;
        .long-arrow {
          &-line {
            width: 23px;
          }
        }
      }
    }

    &:last-child {
      margin-right: auto;
    }
  }

  &--sup {
    justify-content: space-between;
    li {
      @media screen and (min-width: $screen-lg-min) {
        width: auto;
        margin-right: 10%;
      }
    }
  }
}

.equipmentNav {
  margin-bottom: 170px;
  padding-left: 54px;
  padding-top: 90px;

  li {
    margin-bottom: 20px;

    a {
      position: relative;
      transition: color .3s cubic-bezier(0.76, 0, 0.24, 1), padding-left .3s cubic-bezier(0.76, 0, 0.24, 1) .1s;

      &:before {
        content: '';
        height: 2px;
        width: 0;
        background-color: $base-color-main;
        position: absolute;
        right: 100%;
        top: 10px;
        transition: width .3s .1s;
      }

      &:hover {
        color: $base-color-main;
      }
    }

    &.active {
      a {
        padding-left: 30px;
        color: $base-color-main;

        &:before {
          width: 54px;
        }
      }
    }
  }
}

.sidebar {
  padding-bottom: 30px;
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 70px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-bottom: 170px;
  }

  ul {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 170px;
    }
  }

  &.fixed {
    position: static;
    @media screen and (min-width: $screen-lg-min) {
      position: fixed;
      top: 0;
    }
  }
}
