//
// Pages -> Index
// ------------------------------------

.page-main {
  padding-top: 0;


  .btn {
    width: 90%;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
  }
}

.row-add {
  @media screen and (min-width: $screen-xl-min) {
    margin-left: -40px;
    margin-right: -40px;
    > .col {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.mainContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

.indexItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $gray;

  & + & {
    border-left: 1px solid $gray;
  }
}

.relative {
  position: relative;
}

.nextBlock {
  padding: 20px 25px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0 60px;
  color: $black;
  position: relative;
  overflow: hidden;
  @include transitionEaseInOut(background-color);
  @media screen and (min-width: $screen-md-min) {
    margin: 90px 0;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 30px 55px;
  }
  @media screen and (min-width: $screen-xl-min) {
    margin: 170px 0;
  }
  &::after,
  &::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: $black;
    position: absolute;
    left: 0;
    @include transitionEaseInOut(left);
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
  &-desc {
    font-weight: 500;
    font-family: 'montserratmedium';
    font-size: 11px;
    line-height: 150%;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      font-size: 16px;
      width: auto;
    }
  }
  &-title {
    font-weight: 600;
    font-family: 'montserratsemibold';
    font-size: 15px;
    line-height: 130%;
    max-width: 70%;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      font-size: 20px;
      max-width: inherit;
      width: auto;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 35px;
    }
  }

  .long-arrow-inner {
    display: flex;
    vertical-align: middle;
    top: -10px;
    left: 0;
    @include transitionEaseInOut(left);
    @media screen and (min-width: $screen-md-min) {
      top: 0;
    }
  }

  .long-arrow-line {
    background-color: $base-color-main;
    width: 20px;
    right: -1px;
    @media screen and (min-width: $screen-md-min) {
      width: 37px;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 57px;
      right: -6px;
    }
  }
  .long-arrow-right {
    color: $base-color-main;
    width: 20px;
    height: 20px;
    @media screen and (min-width: $screen-lg-min) {
      width: 43px;
      height: 43px;
    }
  }

  &:hover {
    color: $black;
    background-color: $white-darken;
    .long-arrow-inner {
      left: 17px;
      @media screen and (min-width: $screen-md-min) {
        left: 20px;
      }
    }
    .long-arrow-line,
    .long-arrow-right::before {
      width: 37px;
      @media screen and (min-width: $screen-md-min) {
        width: 77px;
      }
    }
    &::after,
    &::before {
      left: 102%;
    }
  }
}

.combineArr {
  i {
    position: relative;
    left: 0;
    @include transitionEaseInOut(left);
    &:after {
      content: '';
      width: 15px;
      height: 1px;
      background-color: $base-color-main;
      position: absolute;
      right: 2px;
      top: 0;
      bottom: 0;
      margin: auto;
      @include transitionEaseInOut(width);
      @media screen and (min-width: $screen-md-min) {
        width: 40px;
        height: 2px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 57px;
      }
    }
  }
  &:hover {
    i {
      left: 15px;
      @media screen and (min-width: $screen-lg-min) {
        left: 20px;
      }
      &::after {
        width: 30px;
        @media screen and (min-width: $screen-md-min) {
          width: 55px;
        }
        @media screen and (min-width: $screen-lg-min) {
          width: 77px;
        }
      }
    }
  }
}

.mainTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    line-height: 120%;
  }
  img {
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }
}

.main-slider {
  .swiper-pagination {
    text-align: left;
    bottom: 0;
    font-size: 26px;
    line-height: 1.23;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      justify-content: flex-start;
      width: auto;
    }
    @media screen and (min-width: $screen-xl-min) {
      bottom: 30px;
    }
    @media screen and (min-width: 1500px) {
      bottom: 60px;
    }
    &-bullet {
      flex: 1;
      background: transparent;
      display: block;
      color: white;
      width: auto;
      height: auto;
      font-weight: 500;
      font-family: 'montserratmedium';
      padding-left: 9px;
      transition: all .5s;
      padding-bottom: 20px;
      position: relative;
      opacity: 1;
      @media screen and (min-width: $screen-md-min) {
        flex: inherit;
        padding-left: 20px;
        padding-right: 40px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding-right: 75px;
        padding-bottom: 50px;
      }

      &-active {
        font-size: 35px;
        padding-bottom: 30px;
        @media screen and (min-width: $screen-md-min) {
          padding-bottom: 50px;
          font-size: 40px;
        }
        @media screen and (min-width: $screen-xl-min) {
          padding-bottom: 80px;
        }
        &:before {
          @extend .paginationAnimate;
        }
        $a: 0;
        @while $a < 31 {
          &.dur-#{$a}000 {
            &:before {
              animation-duration: #{$a}s;
            }
          }
          $a: $a + 1;
        }
      }

      &:after {
        content: '';
        width: 2px;
        height: 100%;
        background: rgba(white, 0.3);
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        @include transitionEaseInOut(background);
      }
      &:before {
        content: '';
        width: 2px;
        height: 0;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 9;
      }
      &:hover {
        color: $base-color-main;
        &:after {
          //background: $base-color-main;
        }
      }

    }
  }
}

.main-slider {
  .swiper-pagination {
    @media screen and (min-width: $screen-md-min) {
      bottom: 60px;
    }
  }
}

.nav-title {
  border-bottom: 1px solid $gray;
  padding-bottom: 15px;
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 75px;
  }
}

.title-icon {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
}

.index {
  &-slider {
    color: white;
    @media screen and (min-width: $screen-lg-min) {
      width: calc(100% + 89px);
    }
    .swiper-slide {
      min-height: 100vh;
      transition: none !important;
      @media screen and (min-width: $screen-lg-min) {
        padding-right: 89px;
      }
      .container {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $screen-md-min) {
          min-height: 500px;
          height: 100vh;
        }
        @media screen and (min-width: $screen-xl-min) {
          height: 100vh;
        }
      }
    }

    .parent {
      //position: absolute;
      //top: 0;
      //left: 0;
      //right: 0;
      //bottom: 0;
      //z-index: 0;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
      }
      &:after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
      }
      &:before {
        background: rgba(0, 0, 0, 0.15);
      }
    }

    .title-left {
      margin-left: 50px;
      @media screen and (min-width: $screen-md-min) {
        margin-left: 80px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-left: 140px;
      }
    }
    h2 {
      font-size: 32px;
      line-height: 1.18;
      font-weight: 400;
      font-family: 'montserratregular';
      //text-transform: uppercase;
      margin: 0;
      @media screen and (min-width: $screen-md-min) {
        font-size: 50px;
        line-height: 1.3;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 50px;
        line-height: 1.235;
      }
      @media screen and (min-width: $screen-xl-min) {
        font-size: 50px;
      }

      img {
        width: 50px;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
      }

      &.title-icon {
        font-weight: 600;
        font-family: 'montserratsemibold';
      }
    }
    &-title {
      margin-top: 125px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 20vh;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 24vh;
      }
      @media screen and (min-width: $screen-xl-min) and (min-height: 1000px) {
        //margin: auto 0;
      }
    }
    &-desc {
      font-weight: 500;
      font-family: 'montserratmedium';
      font-size: 16px;
      line-height: 140%;
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 18px;
      }
      @media screen and (min-width: $screen-lg-min) {
        position: absolute;
        bottom: 60px;
        right: 60px;
        margin-top: 0;
      }
      //@media screen and (min-width: $screen-lg-min) and (min-height: $screen-lg-min) {
        //bottom: 130px;
      //}
      @media screen and (min-width: $screen-xl-min) {
        font-size: 22px;
        right: 145px;
      }
      //@media screen and (min-width: 1500px) {
        //bottom: 60px;
      //}
      p {
        @media screen and (min-width: $screen-xl-min) {
          margin-bottom: 40px;
        }
      }
    }

    .btn {
      width: auto;
      text-align: left;
    }
  }

  &-services {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-bottom: 1px solid $gray;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 20px 40px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 40px 30px 100px;
    }
    @media screen and (min-width: 1440px) {
      padding: 60px 60px 145px;
    }

    .row + .row {
      margin-top: 60px;
    }

    .btn {
      margin: 0 15px;
      @media screen and (min-width: $screen-md-min) {
        margin: 0;
      }
    }
    //.btn {
    //  margin-top: 30px;
    //  @media screen and (min-width: $screen-md-min) {
    //    margin-left: 15px;
    //    position: absolute;
    //    bottom: 20px;
    //    right: 20px;
    //  }
    //  @media screen and (min-width: 1600px) {
    //    bottom: 60px;
    //    right: 90px;
    //  }
    //}
    &-title {
      font-weight: 500;
      font-family: 'montserratmedium';
      font-size: 20px;
      line-height: 150%;
      color: $gray-darken-2;
      padding: 0;
      display: inline-block;
      position: relative;
      margin-top: 60px;
      margin-bottom: 30px;
      margin-left: 15px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
    &__item {
      //@extend .indexItems;
      padding: 0 30px;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 360px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        padding: 0 10px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 0;
        //padding: 40px 30px;
      }
      @media screen and (min-width: 1440px) {
        //padding: 60px;
      }

      .equipmentList-item__title {
        margin-top: auto;
        text-align: left;
        padding-left: 30px;
      }

      h2 {
        margin-bottom: 0;
        @media screen and (min-width: $screen-md-min) {
          font-size: 30px;
        }
        @media screen and (min-width: $screen-lg-min) {
          font-size: 25px;
        }
        @media screen and (min-width: $screen-xl-min) {
          font-size: 37px;
        }
        @media screen and (min-width: $screen-xxl-min) {
          font-size: 45px;
        }
        .long-arrow-left, .long-arrow-right {
          width: 19px;
          height: 19px;
          @media screen and (min-width: $screen-xl-min) {
            width: 24px;
            height: 24px;
          }
        }
      }

      img {
        margin-bottom: 30px;
        @media screen and (min-width: $screen-md-min) {
          margin: auto 0;
        }
      }

      &:first-child {
        img {
          max-height: 193px;
        }
      }
      &:nth-child(2) {
        img {
          max-height: 204px;
        }
      }
      &:last-child {
        img {
          max-height: 272px;
        }
      }

      .list--bullet {
        position: relative;
        z-index: 1;
        @media screen and (min-width: $screen-lg-min) {
          span {
            display: block;
          }
        }

      }
      .item-content {
        height: 100%;
        .list--bullet li {
          //@include transitionEaseInOut(padding-left);
          transition: padding-left .5s;
          overflow: hidden;
          .long-arrow-inner {
            left: 3px;
            //@include transitionEaseInOut(left);
            transition: left .5s;
          }
          .long-arrow-line {
            width: 23px !important;
          }
          &:hover {
            left: 0 !important;
            padding-left: 45px;
            .long-arrow-inner {
              left: 13px !important;
            }
          }
        }
      }
    }

    .tab:last-child {
      margin-bottom: 0;
    }
  }

  &-projects {
    overflow: hidden;
    &__item {
      @extend .indexItems;
      padding-left: 0;
      border-bottom: none;
      .index-services-title {
        margin-left: 0;
        margin-top: 40px;
        @media screen and (min-width: $screen-md-min) {
          margin-top: 0;
        }
      }

      &:first-child {
        padding: 20px 30px;
        @media screen and (min-width: $screen-lg-min) {
          padding: 40px 30px;
        }
        @media screen and (min-width: 1440px) {
          padding: 60px;
        }
      }
    }

    &-btn {
      margin-left: 15px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

.menu-maps {
  font-weight: 600;
  font-family: 'montserratsemibold';
  font-size: 13px;
  line-height: 150%;
  color: $black;
  display: flex;
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  @media screen and (min-width: $screen-md-min) {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: visible;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: 20px;
  }
  li {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid $gray;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.76, 0, 0.24, 1) !important;
    white-space: nowrap;
    position: relative;
    margin-right: 20px;
    @media screen and (min-width: $screen-md-min) {
      white-space: normal;
      margin-right: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      width: 0;
      @include transitionEaseInOut(width);
    }

    span {
      width: 14px;
      min-width: 14px;
      height: 14px;
      border-radius: 14px;
      margin-right: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 20px;
      }
    }
    &:first-child {
      span,
      &:after {
        background-color: $base-color-main;
      }
    }
    &:nth-child(2) {
      span,
      &:after {
        background: $color-type-1a;
      }
    }
    &:last-child {
      span,
      &:after {
        background: $color-type-4a;
      }
    }
    &.active,
    &:hover {
      &:after {
        width: 100%;
      }
    }

    &.active {
      &:first-child {
        color: $base-color-main;
      }
      &:nth-child(2) {
        color: $color-type-1a;
      }
      &:last-child {
        color: $color-type-4a;
      }
    }
  }
}

#project {
  .item-content {
    background-position: center bottom 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      background-position: center bottom;
    }
  }
}

#test {
  .item-content {
    background-position: center bottom 30px;
    background-repeat: no-repeat;
    background-size: 85% auto;
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      background-position: center bottom;
    }
  }
}

#escort {
  .item-content {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 80%;
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      background-position: center bottom -50px;
    }
  }
}


#google,
#googleMaps {
  width: 100%;
  height: 510px;
  @media screen and (min-width: $screen-lg-min) {
    height: 600px;
  }
  //@media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
  //  height: 100vh;
  //}
}

.paginationAnimate {
  animation-name: paginationAnimate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes paginationAnimate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}


.showMoreText {
  max-height: 171px;
  transition: max-height .5s;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(255,255,255,1) 80%,  rgba(255,255,255,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.active {
    max-height: 500px;
    &:after {
      display: none;
    }
  }
  &-link {
    font-size: 16px;
    text-align: center;
    transition: color .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    span {
      display: block;
      width: 15px;
      height: 15px;
      background: url("../images/icons/plus.svg") no-repeat center;
      transition: background .5s;
      margin-left: 10px;
    }
    &:hover {
      color: $base-color-main;
      span {
        background: url("../images/icons/minus.svg") no-repeat center;
      }
    }
  }
}

.slide-prod {
  &__wrapper {
    position: relative;
    margin: 60px;
    padding: 30px 55px;
    @media (max-width: 1440px){
      margin: 40px;
    }
    @media (max-width: 1200px){
      margin: 20px;
      padding: 20px 30px;
    }
    @media (max-width: 768px){
      margin: 20px;
      padding: 20px 10px 10px 10px;
    }
  }
  &__navig {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 30px 55px 0;
    // padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    // border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
    @media (max-width: 1200px){
      margin: 20px 30px;
    }
    @media (max-width: 768px){
      display: block;
      overflow: auto;
      margin: 20px 10px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 2px;
      width: 100%;
      min-width: 500px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &-title {
      font-family: $headings-font-family;
      font-size: 25px;
      line-height: 30px;
      color: white;
    }

    .navig-pagination-item {
      display: inline-block;
      width: auto;
      margin-right: 50px;
      padding-bottom: 32px;
      font-family: $headings-font-family;
      font-size: 25px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.3);
      transition: 1s;
      cursor: pointer;
      @media (max-width: 1300px){
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 25px;
        margin-right: 35px;
      }
      @media (max-width: 1024px){
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
        margin-right: 20px;
      }
    }

    .pagination--active {
      position: relative;
      color: white;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
      }
    }

    .navig-pagination {
      display: inline-flex;
      width: auto;
      min-width: 500px;
    }
  }
  &__navig-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    color: white;
    @media (max-width: 1300px){
      font-size: 20px;
      line-height: 24px;
    }
    @media (max-width: 1024px){
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
  &__slider {
    margin: -30px -55px;
    @media (max-width: 1200px){
      margin: -20px;
    }
  }
  &__slide {
    position: relative;
    min-height: 540px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(100.31deg, #B0B6B6 44.44%, #C0C5C5 100%);
    @media screen and (min-width: $screen-lg-min) {
      min-height: 700px;
    }
    &-img {
      min-width: 100%;
    }

    .link-namb {
      width: auto;
      min-height: auto;
      // @media (max-width: 800px){
      //   width: 95px;
      //   height: 95px;
      // }
    }
  }
  &__link{
    margin-bottom: 20px;
    @media (max-width: 1024px){
      margin-bottom: 10px;
    }

    .long-arrow-right {
      width: 10px;
      height: 10px;
    }
    .long-arrow-inner {
      display: inline-flex;
    }

    .long-arrow-line {
      width: 13px;
      right: -1px;
      top: 0px;
    }

    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: white;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      text-decoration: none;
      @media (max-width: 1024px){
        font-size: 13px;
      }

      &:hover {
        // left: 0 !important;
        color: #3700FF;
        .long-arrow-inner {
          // left: 13px !important;
          transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

          .long-arrow-line {
            width: 25px;
            @media (max-width: 768px){
              width: 17px;
            }
          }
          .long-arrow-right {
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          }
        }
      }
    }

    span {
      margin-right: 20px;
      @media (max-width: 1024px){
        margin-right: 10px;
      }
    }

    &-title {
      margin-bottom: 30px;
      @media (max-width: 1024px){
        margin-bottom: 20px;
      }
      a {
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        color: white;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        @media (max-width: 1440px){
          font-size: 30px;
          line-height: 36px;
        }
        @media (max-width: 1024px){
          font-size: 18px;
          line-height: 24px;
        }
      }
      .long-arrow-inner {
        display: inline-flex;
      }

      .long-arrow-line {
        right: -4px;
        top: 0px;
        @media (max-width: 1440px){
          top: -1px;
        }
        @media (max-width: 1024px){
          top: -1.5px;
          right: -2px;
          width: 17px;
        }
      }
      .long-arrow-right {
        @media (max-width: 1024px){
          width: 15px;
          height: 15px;
        }
      }

      a:hover {
        // left: 0 !important;
        color: #3700FF;
        @media (max-width: 768px){
        }
        .eq {
          transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          padding-left: 80px;
          color: #3700FF;
          @media (max-width: 768px){
            padding-left: 50px;
          }
        }
        .long-arrow-inner {
          // left: 13px !important;
          transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          .long-arrow-line {
            width: 45px;
            @media (max-width: 768px){
              width: 25px;
            }
          }
          .long-arrow-right {
            transition: color 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          }
        }
      }

      span {
        margin-right: 20px;
        @media (max-width: 1024px){
          margin-right: 10px;
        }
      }
      .eq {
        position: relative;
        display: block;
        padding-left: 35px;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      img {
        @media (max-width: 800px){
          display: none;
        }
      }
      .equipmentList-item__title {
        a {
          color: white;
          @media (max-width: 1440px){
            font-size: 30px;
            line-height: 36px;
          }
          @media (max-width: 1024px){
            font-size: 18px;
            line-height: 24px;
          }
          &:hover {
            color: $base-color-main;
          }
        }
      }
    }

    &-contein {
      position: absolute;
      margin-top: 150px;
      left: 55px;
      right: 55px;
      top: 0;
      z-index: 5;
      @media (max-width: 1200px){
        left: 20px;
        right: 20px;
        // margin-top: 100px;
      }
      @media (max-width: 768px){
        left: 20px;
        right: 10px;
      }

      .link-wrap {
        @media (max-width: 800px){
          display: flex;
          .item:last-child {
            margin-left: 20px;
          }
        }
      }
      // z-index: 2;
    }
  }
  &__reverse {
    position: absolute;
    bottom: 30px;
    right: 55px;
    left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    @media (max-width: 1200px){
      left: 20px;
      right: 20px;
    }
    .spinnerSlow {
      @media (max-width: 800px){
        width: 95px;
        height: 95px;
      }
    }
  }
}
