//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  transition: background-color .5s;
  z-index: 99;
  //background-color: white;
  @media screen and (min-width: $screen-md-min) {
    //position: relative;
    //z-index: 9;
    //background-color: transparent;
  }
  @media screen and (min-width: $screen-lg-min) {
    position: relative;
    z-index: 9;
    padding: 60px 0;
  }
  .logo {
    max-width: 140px;
    width: 100%;
    height: 17px;
    display: block;
    //background: url("../images/logo.svg") no-repeat center / 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transition: background 0s;
    @media screen and (min-width: $screen-md-min) {
      //height: 25px;
      //max-width: 190px;
    }
    @media screen and (min-width: $screen-md-min) {
      height: 35px;
      max-width: 290px;
    }
  }
  &__fixed {
    top: 0;
    left: 0;
    z-index: 96;
    .logo {
      //background-image: url("../images/logo-white.svg");
    }
    @media screen and (min-width: $screen-lg-min) {
      position: absolute;
      right: 90px;
    }
  }
  &--index {
    padding: 15px 0;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px 0;
    }
    @media screen and (min-width: 1440px) {
      padding: 60px 0;
    }
  }
  &__fixedB {
    .logo {
      //background-image: url("../images/logo.svg");
    }
  }
  &__logo {
    a {text-decoration: none;}
  }

  .container {
    &--sb {
      display: flex;
      justify-content: space-between;
    }
  }

  &.scrolled {
    @media screen and (max-width: $screen-md-max) {
      background-color: $base-color-main;

      .logo {
        width: 27px;
        height: 25px;
        background-image: url("../images/icons/logo.svg");
        img {
          opacity: 0;
        }
      }

      .menu {
        span {
          background-color: white;
        }
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      .logo {
        width: 19px;
        height: 17px;
      }
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }

.search {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom:0;
    width: 29px;
    height: 27px;
    display: block;
    margin-left: -20px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.93934' y1='25.9393' x2='10.9393' y2='16.9393' stroke='white' stroke-width='3'/%3E%3Ccircle cx='18' cy='10.5' r='9' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
    @media screen and (max-width: $screen-md-min){
      transform: scale(0.7);
      top: -5px;
    }
  }

  &--lilac {
    &::before {
      content: '';
      position: absolute;
      bottom:0;
      width: 29px;
      height: 27px;
      display: block;
      margin-left: -20px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.93934' y1='25.9393' x2='10.9393' y2='16.9393' stroke='%233700FF' stroke-width='3'/%3E%3Ccircle cx='18' cy='10.5' r='9' stroke='%233700FF' stroke-width='3'/%3E%3C/svg%3E%0A");
      @media screen and (max-width: $screen-md-min){
        transform: scale(0.7);
        top: -5px;
      }
    }
  }

  &--scrolled {
    &::before {
      content: '';
      position: absolute;
      bottom:0;
      width: 29px;
      height: 27px;
      display: block;
      margin-left: -20px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.93934' y1='25.9393' x2='10.9393' y2='16.9393' stroke='white' stroke-width='3'/%3E%3Ccircle cx='18' cy='10.5' r='9' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
      @media screen and (max-width: $screen-md-min){
        transform: scale(0.7);
        top: -5px;
      }
    }
  }

  @media screen and (max-width: $screen-lg){
    margin-right: 85px;
  }
}

.search__box {
  background: #323232;
  padding: 24px 0 100px;
  display: flex;
  position: fixed;
  top: -1000px;
  right: 0;
  left: 0;
  z-index: 10012;
  transition: 0.5s;
  @media screen and (max-width: $screen-md-min){
    padding: 15px 0 50px;
  }
  @media screen and (max-width: 550px) {
    padding: 15px 0 30px;
  }

  .container {
    width: 100%;
  }

  &--active {
    top: 0;
  }

  .item {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.search__close {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: 2px solid white;
  }

  @media screen and (max-width: $screen-md-min){
    width: 45px;
    height: 45px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    display: block;
    background-color: white;
    transform: rotate(45deg);
    cursor: pointer;
    @media screen and (max-width: $screen-md-min){
      width: 17px;
      height: 2px;
    }
  }
  &::after {
    content: '';
    width: 26px;
    height: 3px;
    display: block;
    background-color: white;
    transform: rotate(-45deg);
    cursor: pointer;
    @media screen and (max-width: $screen-md-min){
      width: 17px;
      height: 2px;
    }
  }
}

.search__input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #818181;
  font-size: 30px;
  line-height: 37px;
  color: white;
  padding-bottom: 20px;
  margin-right: 114px;
  transition: all .5s;
  @media screen and (max-width: $screen-md-min){
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    height: 30px;
    margin-right: 60px;
  }

  @media screen and (max-width: 550px) {
    margin-right: -2px;
  }
  &::placeholder {
    color:white;
    font-weight: 400px;
  }

  &:focus {
    border-bottom: 2px solid #3700FF;
  }
}
.input-box {
  display: flex;
  margin-top: 24px;
  align-items: flex-end;
}
.buttonSearch {
  .btn-animate{
    fill: transparent;
  }

  span {
    color: white;
  }

  @media screen and (max-width: 550px) {
    display: none;
  }
}
