//
// Partials -> Menu
// ------------------------------------

.page-menu {
  color: $base-color-main;
  width: 30px;
  position: fixed;
  right: 15px;
  top: 17px;
  z-index: 10011;
  @media screen and (min-width: $screen-md-min) {
    top: 37px;
  }
  @media screen and (min-width: $screen-lg-min) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: $base-color-main;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90px;
    padding: 53px 0;
  }
  &__logo {
    perspective: 120px;
    @extend .hideOnMobileAndTablet;
  }
  &__menu {
    font-size: 14px;
    font-weight: 500;
    font-family: 'montserratmedium';
    cursor: pointer;
    min-height: 30px;
    .menu {
      width: 30px;
      height: 12px;
      @media screen and (min-width: $screen-lg-min) {
        width: 40px;
        height: 24px;
        margin: 0 auto 20px;
      }
      span {
        width: 30px;
        height: 2px;
        margin: auto;
        display: block;
        background-color: $base-color-main;
        @include transitionEaseInOut(all);
        position: relative;
        top: 0;
        @media screen and (min-width: $screen-lg-min) {
          width: 42px;
          background-color: white;
        }
        + span {
          margin-top: 8px;
          @media screen and (min-width: $screen-lg-min) {
            margin-top: 20px;
          }
        }
      }

      &:hover {
        @media screen and (min-width: $screen-xl-min) {
          span {
            top: 12px;
            + span {
              margin-top: -2px;
            }
          }
        }
      }
      &.open {
        span {
          top: 0;
          background-color: $base-color-main;
          @media screen and (min-width: $screen-md-min) {
            background-color: white;
          }
          &:nth-child(1),
          &:nth-child(2) {
            margin: 0;
            transform: translate(0px, 6px) rotate(-45deg);
            @media screen and (min-width: $screen-lg-min) {
              transform: translate(0px, 11px) rotate(-45deg);
            }
          }
          &:nth-child(2) {
            transform: translate(0px, 4px) rotate(45deg);
            @media screen and (min-width: $screen-lg-min) {
              transform: translate(0px, 9px) rotate(45deg);
            }
          }
        }
      }

      + div {
        display: none;
        @media screen and (min-width: $screen-lg-min) {
          display: inline;
        }
      }
    }
  }
  &__language {
    font-weight: 500;
    font-family: 'montserratmedium';
    font-size: 20px;
    @extend .hideOnMobileAndTablet;
    a {
      display: block;
      text-decoration: none;
      color: #818181;
      + a {
        margin-left: 20px;
      }
      @media screen and (min-width: $screen-lg-min) {
        color: $base-color-dark;
        + a {
          margin-top: 30px;
          margin-left: 0;
        }
      }
      &:hover,
      &.active {
        color: $base-color-main;
        @media screen and (min-width: $screen-lg-min) {
          color: white;
        }
      }
    }
  }

  &.scrolled {
    @media screen and (max-width: $screen-md-max) {
      .menu {
        span {
          background-color: white;
        }
        &.open {
          span {
            background-color: $base-color-main;
          }
        }
      }
    }
  }
}

.page-fixed {
  .page-menu {
    .menu {
      span {
        background-color: white;
      }
      &.open {
        span {
          background-color: $base-color-main;
          @media screen and (min-width: $screen-lg-min) {
            background-color: white;
          }
        }
      }
    }
  }
}

.card {
  height: 50px;
  width: 50px;
  position: relative;
  @include transitionEaseInOut(all, 1s);
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  //box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  &.animated {
    animation: depth 3s linear;
  }
  &-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: $base-color-main;
  }
  &-depth {
    perspective: inherit;
  }
  &-front {
    transform-style: preserve-3d;
  }
  &-back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
}



@keyframes depth {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}


.safari {
  .card-back {
    //display: none;
  }
  .index-slider {
    .swiper-slide {
      //height: 550px;
      //min-height: inherit;
    }
  }
}
