extends ../layouts/master.pug

block pageName
  - const pageName = "fixed"

block header
  include ../partials/_header-fixed

block content
  main.page-main
    section.index-slider
      .swiper-container.main-slider.loading(data-video-url=[
        {
          "url": "https://player.vimeo.com/external/447156804.hd.mp4?s=bfcf7ab611645e536a28047381071dfc62c41750&amp;profile_id=175",
          "id": 0
        },
        {
          "url": "https://player.vimeo.com/external/445162918.hd.mp4?s=b2ed16d760e59e6cb568183ea9487bcd3d2cdb51&amp;profile_id=175",
          "id": 1
        },
        {
          "url": "https://player.vimeo.com/external/444473813.hd.mp4?s=a05aee1bfa148eeeef5a0b3c6cae283cfbf65514&amp;profile_id=175",
          "id": 2
        },
        {
          "url": "https://player.vimeo.com/external/438237084.hd.mp4?s=5e8456be81bab2210d53f87eb28624c7ecd5056c&amp;profile_id=175",
          "id": 3
        },
        {
          "url": "https://player.vimeo.com/external/424723312.hd.mp4?s=75da6ed3aaa94497afbd8e3d86854cf8e3b1933e&amp;profile_id=175",
          "id": 4
        },
      ])
        .swiper-wrapper
          +mainSlider(index.slider)
        .container.relative
          .swiper-pagination(data-aos='fade-up', data-aos-delay='500')
    section.index-layout
    section.slide-prod
      .slide-prod__wrapper
        .slide-prod__navig
          .slide-prod__navig-title Оборудование
          .navig-pagination
            .navig-pagination-item Скважинные
              br
              |фильтры
            .navig-pagination-item Устройства
              br
              |контроля притока
            .navig-pagination-item Дополнительное
              br
              |оборудование
        .slide-prod__slider
          .swiper-container.slide-prod__slider-top
            .swiper-wrapper
              .swiper-slide.slide-prod__slide
                picture
                  source(srcset="assets/images/slide-prod.png" media="(min-width: 800px)")
                  img(src="assets/images/slide-prod.png" class='slide-prod__slide-img', alt='')
                .slide-prod__link-contein
                  .slide-prod__link-row
                    .equipmentList-item__title: h2: a(href="#")
                      +arrow()
                      |Скважинные фильтры
                    +img('01..svg', 'link-namb')
                  .link-wrap
                    .item
                      .slide-prod__link: a(href="#")
                        +arrow()
                        |АльфаДирект
                      .slide-prod__link: a(href="#")
                        +arrow()
                        |АльфаШелл
                      .slide-prod__link: a(href="#")
                        +arrow()
                        |АльфаСлот
                    .item
                      .slide-prod__link: a(href="#")
                        +arrow()
                        | АльфаКомпакт
                      .slide-prod__link: a(href="#")
                        +arrow()
                        | АльфаПолимер
                .slide-prod__reverse
                  .row-item
                    .spinnerSlow: +img('equip/trademark.svg', 'link-namb')
              .swiper-slide.slide-prod__slide
                picture
                  source(srcset="assets/images/slide-prod1.png" media="(min-width: 800px)")
                  img(src="assets/images/slide-prod1.png" class='slide-prod__slide-img', alt='')
                .slide-prod__link-contein
                  .slide-prod__link-row
                    .equipmentList-item__title: h2: a(href="#")
                      +arrow()
                      |Устройства контроля притока
                    +img('02..svg', 'link-namb')
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |АльфаДирект
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |АльфаШелл
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |АльфаСлот
                .slide-prod__reverse
                  .row-item
                    .spinnerSlow: +img('equip/trademark.svg', 'link-namb')
              .swiper-slide.slide-prod__slide
                picture
                  source(srcset="assets/images/slide-prod2.png" media="(min-width: 800px)")
                  img(src="assets/images/slide-prod2.png" class='slide-prod__slide-img', alt='')
                .slide-prod__link-contein
                  .slide-prod__link-row
                    .equipmentList-item__title: h2: a(href="#")
                      +arrow()
                      |Дополнительное оборудование
                    +img('03..svg', 'link-namb')
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |Муфта ГРП
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |Пакер-Подвеска
                  .slide-prod__link: a(href="#")
                    +arrow()
                    |Гидромеханический пакер
                .slide-prod__reverse
                  .row-item
                   .spinnerSlow: +img('equip/trademark.svg', 'link-namb')
                  .row-item
                     +img('progr.svg', 'link-namb')
    section.index-services
      .row.between__xs.middle__xs
        .col.col__md-3.col__xs-12
          .revealOut(data-aos='')
            .index-services-title.revealIn Сервис
        .col.col__md-3.col__xs-12(data-aos='fade-up'): +buttonSVGMD('Все услуги', '', "#323232")
      .row
        .col.col__lg-4.col__md-6.col__xs-12.index-services__item
          +img('service-1.jpg')
          .equipmentList-item__title
            h2: a(href='#')
              +arrow()
              | Инжиниринг
        .col.col__lg-4.col__md-6.col__xs-12.index-services__item
          +img('service-2.jpg')
          .equipmentList-item__title(data-aos='fade-up')
            h2: a(href='#')
              +arrow()
              | Тестирование
        .col.col__lg-4.col__md-6.col__xs-12.index-services__item
          +img('service-3.jpg')
          .equipmentList-item__title(data-aos='fade-up')
            h2: a(href='#')
              +arrow()
              | Сопровождение
    section.index-projects
      .row
        .col.col__lg-4.col__md-5.col__xs-12.index-projects__item
          .revealOut(data-aos='')
            .index-services-title.revealIn Проекты
          ul.filters--js.menu-maps
            li(
              data-aos='fade-up'
              data-filter="service",
              data-icon="assets/images/icons/bubbleb.svg",
              data-group="assets/images/icons/markerb.svg",
              data-coordinates=['59.91701049, 30.31812429', '59.91916157, 30.3251195']
              data-zoom='10'
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2020 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                ]
              ]
            )
              span
              | Сервис, поставки
            li(
              data-aos='fade-up'
              data-filter="conference",
              data-icon="assets/images/icons/bubblel.svg",
              data-group="assets/images/icons/markerl.svg",
              data-coordinates=['59.91756978, 30.31812429', '59.92049517, 30.33250093', '59.91701049, 30.3276515']
              data-zoom='8'
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2018 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2017 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2016 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ]
              ]
            )
              span
              | Выставки и конференции
            li(
              data-aos='fade-up'
              data-filter="projects",
              data-group="assets/images/icons/marker.svg",
              data-icon="assets/images/icons/bubble.svg",
              data-coordinates=['59.92256978, 30.31812429', '59.92349517, 30.33250093', '59.92401049, 30.3276515']
              data-zoom='5'
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ]
              ]
            )
              span
              | Партнерские проекты
          .hideOnMobile
            div(data-aos='fade-up'): +buttonSVGMD('Все проекты', '', "#323232")
        .col.col__lg-8.col__md-7.col__xs-12.index-projects__item(data-aos='fade-up')
          include ../components/_map
      .showOnMobile
        .index-projects-btn(data-aos='fade-up'): +buttonSVGMD('Все проекты', '', "#323232")

block footer
  include ../partials/_footer.pug
