//- mixins

mixin arrow()
  span.long-arrow-inner
    span.long-arrow-right
    span.long-arrow-line

mixin arrowL()
  span.long-arrow-inner
    span.long-arrow-left
    span.long-arrow-line

mixin sideArrowL()
  .svg-arrow.svg-arrow--left
    svg(width='55', height='23', viewBox='0 0 55 23', fill='none', xmlns='http://www.w3.org/2000/svg')
      rect(x='3', y='10', width='52', height='2', fill='#323232')
      path(d='M3.07037 12.0547L9.0339 21L7.3698 22.1094L0 11.0547L7.3698 0L9.0339 1.1094L3.07037 10.0547V12.0547Z', fill='#323232')

mixin sliderArrowNext()
  .slider-arrow.next
    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60 43', width='60', height='43')
      path(d='M 38.192 0 L 60 21.547 L 38.192 43.094 L 36.786 41.671 L 56.142 22.547 L 56.142 20.547 L 36.786 1.423 L 38.192 0 Z ', fill='#323232')
      rect(x='18.786', y='20.547', width='38', height='2', transform='matrix(1,0,0,1,0,0)', fill='#323232')

mixin sliderArrowPrev()
  .slider-arrow.prev
    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60 43', width='60', height='43')
      path(d=' M 22.701 43.094 L 0.893 21.547 L 22.701 0 L 24.107 1.423 L 4.751 20.547 L 4.751 22.547 L 24.107 41.671 L 22.701 43.094 Z ', fill-rule='evenodd', fill='#323232')
      rect(x='4.107', y='20.547', width='38', height='2', transform='matrix(-1,0,0,-1,46.214,43.094)', fill='#323232')


mixin linkIcon(text)
  a.link-icon(href='#', data-aos='fade-up')
    +sideArrowL()
    span= text

mixin abcTitle(items)
  ul.glossary-abc.abc--js(data-aos='fade-up')
    each item in items
      li(data-title=item.title)
        i.icon-ok
        span= item.title

mixin accGoss(items)
  .acc
    each item in items
      .acc__card(data-title=item.title, data-subtitle=item.subtitle)
        .acc__inner(data-aos='fade-up')
          .acc__title
            .inner
              = item.title
              - if(item.subtitle !== '')
                .acc__title-desc= item.subtitle
            span
          .acc__panel Анизотропия пласта - зависимость физических свойств пород пласта от направления. Наиболее распространенными направленно-зависимыми свойствами являются проницаемость и напряжение. Большинство пластов имеют анизотропию вертикальной и горизонтальной проницаемости, причем вертикальная проницаемость намного меньше (часто на порядок меньше), чем горизонтальная проницаемость. Анизотропию проницаемости характеризуют числовым параметром отношения вертикальной к горизонтальной проницаемости kv/kh. Анизотропия проницаемости плоской подстилающей поверхности пласта распространена при наличии естественных трещин. Анизотропия напряжения часто является наибольшей между нагрузкой кровли пласта и горизонтальным напряжением в плоскости залегания.  Анизотропия проницаемости иногда может быть связана с анизотропией напряжения пласта.

mixin menuNav(items)
  ul.menuNav
    each item in items
      li.menuNav__item
        a.menuNav__link(href=item.href, title=item.title)= item.title

mixin menuSubNav(items)
  ul.menuSubNav
    each item in items
      li.menuSubNav__item
        a.menuSubNav__link(href=item.href, title=item.title)= item.title

mixin menuAdditionalNav(items, page)
  ul.menuAdditionalNav.revealOut(data-aos='')
    each item in items
      - let active  = ''
      - if(page === item.href) active='active'
      li.menuAdditionalNav__item.revealIn: a.menuAdditionalNav__link(href=item.href + '.html', class=active)
          = item.title

mixin navTitle(title, parent)
  .nav-title
    .container
      ul.breadcrumbs.revealOut(data-aos='')
        li.breadcrumbs__item.revealIn
          a.breadcrumbs__link(href="#") Главная
        - if(parent)
          li.breadcrumbs__item.revealIn
            a.breadcrumbs__link(href="#")= parent
        li.breadcrumbs__item.active.revealIn= title
      .mainTitle.revealOut(data-aos='')
        h1.revealIn= title
        +img('logo-title.svg', 'revealIn')

mixin navBread(title, parent)
  ul.breadcrumbs.revealOut(data-aos='')
    li.breadcrumbs__item.revealIn
      a.breadcrumbs__link(href="#") Главная
    - if(parent)
      li.breadcrumbs__item.revealIn
        a.breadcrumbs__link(href="#")!= parent
      li.breadcrumbs__item.active.revealIn!= title

mixin navTitleBack(title, parent, src, items, srcm)
  .nav-title.nav-background.nav-background--fullWidth.rellax-box
    .setImg.hideOnMobile(style=src)
    .setImg.rellax.hideOnMobile(style=src)
    .setImg.showOnMobile(style=srcm)
    .container
      +navBread(title, parent)
      .row.end__lg.bottom__lg
        .col.col__lg-8.col__xs-12
          .mainTitle(data-aos='fade-up')
            +revealMainTag(title, 'h1')
          - if(items)
            .nav-background__img.m-auto(data-aos='fade-up')
              each item in items
                +img(item.src)
        .col.col__lg-4.col__xs-12.nav-background__trade.first__lg(data-aos='fade-up')
          +img('equip/trademarkw.svg', 'spinnerSlow')
        .equipmentList-item__label
            +img('equip/label.svg')


mixin navTitleBackOne(title, parent, src, logo, desc, pdf, srcm, patent)
  .nav-title.nav-background.nav-background--fullWidth.rellax-box
    .setImg.hideOnMobile(style=src)
    .setImg.rellax.hideOnMobile(style=src)
    .setImg.showOnMobile(style=srcm)
    .container
      +navBread(title, parent)
      .row.end__lg
        .col.col__lg-8.col__xs-12
          .mainTitle(data-aos='fade-up')
            +revealMainTag(title, 'h1')
          - if(desc)
            .nav-background__desc(data-aos='fade-up')= desc
      .row.m-auto.bottom__xs.between__xs
        .col.col__lg-4.col__xs-6.nav-background__link.revealOut(data-aos='')
          - if(patent)
            +img('patent.svg')
          a.revealIn(href='#')
            i.icon-pdf
            | Скачать #[br] презентацию
        - if(logo)
          .col.col__lg-8.nav-background__img(data-aos='fade-up')
            +img(logo)

mixin navTitleBackOneArray(title, parent, src, items, pdf)
  .nav-title.nav-background.rellax-box
    .setImg.rellax(style=src)
    .setBack
    .container.relative
      +navBread(title, parent)
      .row.end__xs
        .col.col__lg-8.col__xs-12
          .mainTitle(data-aos='fade-up')
            +revealMainTag(title, 'h1')
          - if(items)
            ul.list--bullet.row.between__xs.revealOut(data-aos='')
              each item in items
                li.col.col__xl-5.col__lg-6.col__xs-12.revealIn
                  a(href='#')
                    +arrow()
                    != item
      if(pdf)
        .nav-background__link.nav-bottom.revealOut(data-aos='')
          a.revealIn(href='#')
            i.icon-pdf
            | Скачать #[br] презентацию

mixin navTitleBackOneString(title, parent, src, par, pdf)
  .nav-title.nav-background.rellax-box
    .setImg.rellax(style=src)
    .setBack
    .container.relative
      +navBread(title, parent)
      .row.end__xs
        .col.col__lg-8.col__xs-12
          .mainTitle(data-aos='fade-up')
            +revealMainTag(title, 'h1')
          .col__xl-8.col__lg-10
            p=par
      if(pdf)
        .nav-background__link.nav-bottom.revealOut(data-aos='')
          a.revealIn(href='#')
            i.icon-pdf
            | Скачать #[br] презентацию

mixin nextBlock(title)
  .container(data-aos='fade-up')
    a.nextBlock.combineArr(href='#')
      .nextBlock-desc Смотрите также
      .nextBlock-title= title
      +arrow()

mixin backLink(title)
  .publications-soc
    a.link-icon(href='#', data-aos='fade-up')
      +img('icons/backLink.svg')
      span= title
    .social(data-aos='fade-up')
      p Поделиться
      ul.social-list
        li: a(href='#'): i.icon-fa
        li: a(href='#'): i.icon-vk
        li: a(href='#'): i.icon-tw

mixin nextItem(title, src, link, date, className)
  .nextItem(class=className)
    a.row.row-add.nextItem-inner.combineArr(data-aos='fade-up', href='#')
      .col.col__lg-8.col__md-6.col__xs-12.first__md.last__xs
        +img(src)
      .col.col__lg-4.col__md-6.col__xs-12.nextItem-desc
        .publications-item-top
          p.text__sm= link
          - if(date)
            .publications-item-date 20 августа #[br] 2020
        h3= title
        i: +img('nextBlock.svg')

mixin projects(items)
  .projects-main.filter-container
    each item, index in items
      .projects-item.filtr-item(data-category=item.category, data-index=index)
        .projects-content(data-aos='fade-up')
          a.projects-item-left(href='project.html')
            .projects-item--title
              h3= item.title
              p= item.desc
            .projects-item--bot
              p.text__sm= item.catTitle
              p.text__sm= item.date
          a.projects-item-right(href='project.html')
            .projects-item--img
              +img(item.image)

mixin technology(items)
  .equipmentList
    each item in items
      .equipmentList-item(data-aos='fade-up')
        .equipmentList-item__top(data-aos='fade-up')
          .equipmentList-item__num: +img(item.ico)
          .equipmentList-item__title.revealOut(data-aos='')
            h3.revealIn: a(href='#')= item.title
            p.text__sm.revealIn= item.desc
        .equipmentList-item__bottom(data-aos='fade-up')
          .equipmentList-item__mark.spinnerSlow: +img('equip/trademark.svg')
          +img(item.image)

mixin button(title, className, src)
  a.btn(href=src, class=`btn--${className}`)
    span
    = title

//- reveal
mixin reveal(title, tag)
  .revealOut(data-aos='')
    #{tag}(class='revealIn')= title

mixin revealMainTag(title, tag)
  #{tag}.revealOut(data-aos='')
    span.revealIn!= title

mixin revealIndep(items)
  each item in items
    .revealOut
      span.revealIn= item

mixin mainSlider(items)
  each item in items
    .swiper-slide(data-swiper-autoplay="5000")
      .slider-back.slide-bgimg.slide-bgimg--js.parent
        .image.image--desc(style=`background: url("assets/images/${item.img}") no-repeat center / cover`)
        .image.image--mob(style=`background: url("assets/images/${item.img}") no-repeat center / cover`)
        video.video(width="100%" height="100%", loop, muted)
      .container.relative
        .index-slider-title
          each title in item.titles
            - let active  = ''
            - let left  = ''
            - if(title.black === true) active='title-icon'
            - if(title.left === true) left='title-left'
            .caption(class=left)
              h2(class=active)
                - if(title.icon)
                  +img(title.icon)
                != title.text
        .index-slider-desc.caption
          p!= item.desc
          +buttonSVGM('Подробнее', 'transparent', "#fff")

mixin form(title, textarea, mess)
  form.form#form(method='POST', action='')
    .form-inner
      +revealMainTag(title, 'h3')
      .row.row-add
        .col.col__md-6.col__xs-12.form__group(data-aos='fade-up'): +fieldInput('text', 'name', 'nameVac', 'Имя', true)
        .col.col__md-6.col__xs-12.form__group(data-aos='fade-up'): +fieldInput('email', 'email', 'emailVac', 'Email', true)
        .col.col__xs-12.form__group(data-aos='fade-up'): +fieldTextarea('content', 'content', textarea, 3, true)
        .col.col__md-6.col__xs-12(data-aos='fade-up')
          .checkbox
            input(type='checkbox', name='agreed', id='agreed', required)
            label(for='agreed') Согласен на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности]
        .col.col__md-6.col__xs-12(data-aos='fade-up')
          +buttonSVGB('Отправить', 'form--js', '#323232')
    .form-send
      +revealMainTag(mess, 'h3')
      .form__group.form-back--js(data-aos='fade-up'): +buttonSVGMD('Отправить резюме', '', "#323232", '')


mixin sidebar(items)
  .col.col__lg-4.col__xs-12.hideOnMobileAndTablet
    .sidebar
      ul.equipmentNav.anchor(data-aos='fade-up')
        each item in items
          li(classname=item.className): a(href=item.href)= item.title
      a.link-icon(href='#', data-aos='fade-up')
        i.long-arrow-left
        span Ко всем фильтрам

//- form-input
mixin fieldInput(type, name, id, label, required)
    .input.input--hoshi
      input.control.input__field.input__field--hoshi(type=type, name=name, id=id, required=required)
      label.input__label.input__label--hoshi(for=id)
        span.input__label-content.input__label-content--hoshi= label
      .error-content

//- form-textarea
mixin fieldTextarea(name, id, label, rows, required)
  .input.input--hoshi
    textarea.control.input__field.input__field--hoshi(type=type, name=name, id=id, required=required)
    label.input__label.input__label--hoshi(for=id)
      span.input__label-content.input__label-content--hoshi= label
    .error-content

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)= name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name

//- img
mixin img(src, className)
  img(src=`assets/images/${src}`, alt='Alfa', class=className)

mixin buttonSVG(text, className, stroke, anchor)
  a.btn-container.btn(class=className, href=anchor)
    span= text
    svg.hideOnMobile(width='100%' viewbox='0 0 181 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M5 29C5 13.2599 17.7599 0.5 33.5 0.5H152C167.74 0.5 180.5 13.2599 180.5 29C180.5 44.7401 167.74 57.5 152 57.5H33.5C17.7599 57.5 5 44.7401 5 29Z' stroke='#E5E5E5')
      path.btn-animate(d="M33.5 0.5H152C167.74 0.5 180.5 13.2599 180.5 29C180.5 44.7401 167.74 57.5 152 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#3700FF')
    +buttonSVGMob(stroke)

mixin buttonSVGB(text, className, stroke)
  button.btn-container.btn(class=className, type='submit')
    span= text
    svg.hideOnMobile(width='100%' viewbox='0 0 181 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M5 29C5 13.2599 17.7599 0.5 33.5 0.5H152C167.74 0.5 180.5 13.2599 180.5 29C180.5 44.7401 167.74 57.5 152 57.5H33.5C17.7599 57.5 5 44.7401 5 29Z' stroke='#E5E5E5')
      path.btn-animate(d="M33.5 0.5H152C167.74 0.5 180.5 13.2599 180.5 29C180.5 44.7401 167.74 57.5 152 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#3700FF')
    +buttonSVGMob(stroke)

mixin buttonSVGBig(text, className, stroke, anchor)
  a.btn-container.btn(class=className, href=anchor)
    span= text
    svg.hideOnMobile(width='100%' viewbox='0 0 255 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M5.5 29C5.5 13.2599 18.2599 0.5 34 0.5H226C241.74 0.5 254.5 13.2599 254.5 29C254.5 44.7401 241.74 57.5 226 57.5H34C18.2599 57.5 5.5 44.7401 5.5 29Z' stroke='#E5E5E5')
      path.btn-animate.btn-animate--big(d="M34 0.5H226C241.74 0.5 254.5 13.2599 254.5 29C254.5 44.7401 241.74 57.5 226 57.5H34C18.2599 57.5 5.5 44.7401 5.5 29C5.5 13.2599 18.2599 0.5 34 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#3700FF')
    +buttonSVGMob(stroke)


mixin buttonSVGMD(text, className, stroke)
  a.btn-container.btn(class=className, href=anchor)
    span= text
    svg.hideOnMobile(width='100%' viewbox='0 0 200 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z' stroke='#E5E5E5')
      path.btn-animate.btn-animate--md(d="M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#3700FF')
    +buttonSVGMob(stroke)


mixin buttonSVGM(text, className, stroke)
  a.btn-container.btn(class=className, href=anchor)
    span= text
    svg(width='100%' viewbox='0 0 200 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z' stroke='#E5E5E5')
      path.btn-animate.btn-animate--md(d="M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#3700FF')

mixin buttonSearch(text, className, stroke)
  a.btn-container.btn(class=className, href=anchor)
    span= text
    svg(width='100%' viewbox='0 0 200 58' fill='none' xmlns='http://www.w3.org/2000/svg')
      path.btn-path(d='M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z' stroke='#E5E5E5')
      path.btn-animate.btn-animate--md(d="M33.5 0.5H171C186.74 0.5 199.5 13.2599 199.5 29C199.5 44.7401 186.74 57.5 171 57.5H33.5C17.7599 57.5 5 44.7401 5 29C5 13.2599 17.7599 0.5 33.5 0.5Z" stroke=stroke)
      circle(r='4.5' transform='matrix(-1 0 0 1 4.5 28.5)' fill='#FFFFFF')


mixin buttonSVGMob(stroke)
  svg.showOnMobile(width='100%' viewbox='0 0 345 48' fill='none' xmlns='http://www.w3.org/2000/svg')
    path.btn-path(d='M28.2577 0.984619H321.742C334.311 0.984619 344.5 11.1736 344.5 23.7424C344.5 36.3111 334.311 46.5001 321.742 46.5001H28.2577C15.689 46.5001 5.5 36.3111 5.5 23.7424C5.5 11.1736 15.689 0.984619 28.2577 0.984619Z' stroke='#E5E5E5')
    path.btn-animate(d="M28.2577 0.984619H321.742C334.311 0.984619 344.5 11.1736 344.5 23.7424C344.5 36.3111 334.311 46.5001 321.742 46.5001H28.2577C15.689 46.5001 5.5 36.3111 5.5 23.7424C5.5 11.1736 15.689 0.984619 28.2577 0.984619Z" stroke=stroke)
    circle(r='4.5' transform='matrix(-1 0 0 1 4.5 24.2268)' fill='#3700FF')


//- mixin searchinResults ()

